input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:200px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus 		{ outline:none; }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#5264AE;
  }
  
  a{
    text-decoration: none;
    font-size: 18px;
    color: rgba(30, 22, 54, 0.6);
  }