body {
  background-color: azure;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto";
  width: fit-content;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  min-height: 640px;
  margin: 0;
}

.area {
  font: bold 16px 굴림, dotum, arial, sans-serif;
  background: #fffffff0;
}

.back {
  width: 50px;
  height: 50px;
}
.backbu {
  padding: unset;
  width: 50px;
  height: 50px;
}
.menu {
  float: left;
  padding: unset;
  width: 50px;
  height: 50px;
}
.icon {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}

.Login {
  display: flex;
}
